
// header

.header {
      background-color: $black-color;
      padding: 10px 0px;
}

.header__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 50px;
      max-width: 100%;
      width: 100%;
}

.header__menuwrapper {
      display: flex;
      align-items: center;
      column-gap: 70px;
}

// Header menu


.header__menu {
      display: flex;
      align-items: center;
      column-gap: 33px;
}

.menu__item {
      @include li-elementstyle;
      position: relative;
      @include gradient-text;
      transition: all .3s ease-in-out;
      &:hover {
            color: $accent-color;
            &::after {
                  width: 50%;
            }
      }

      &::after {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            background: linear-gradient(90deg, rgba(57,163,82,1) 28%, rgba(242,107,53,1) 100%);
            max-width: 100%;
            width: 0%;
            bottom: -6px;
            transition: width .3s ease-in-out;
      }
}

// Header contact block

.header__contactblock {
      display: flex;
      column-gap: 36px;
      align-items: center;
}



.header__social {
      display: flex;
      align-items: center;
      column-gap: 30px;

}

.header__social--link {
      transition: all .3s ease;
      &:hover {
            scale: 1.1;
      }
}