.ourclient__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    max-width: 100%;
    width: 100%;
    & .section__titlewrapper .section__title {
        color: $second-color;
    }
}

.ourclient__slider {
    & .owl-stage-outer .owl-stage {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ourclient--img {
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
        transform: scale(1.1);
    }
}
.ourclient--img {
    margin: 0 auto;
}

.ourclient__line {
      height: 2px;
      max-width: 100%;
      width: 100%;
      background-color: black;
}

.owl-stage-outer {
      border-width: 100%;
      border-image: linear-gradient(to right, rgba(57,163,82,1) 0%, rgba(242,107,53,1) 100%) 1;
      border-top: solid 2px;
      border-bottom: solid 2px;
}