

.section__portfolio {
      background-color: $grey-color;
}

.portfolio__wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 71px;
      max-width: 100%;
      width: 100%;

      & .section__titlewrapper {
            display: flex;
            flex-direction: row;
            row-gap: 15px;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            width: 100%;
            
            & .section__title {
                  color: $white-color;
            }

            & .section__titleline {
                  background-color: $white-color;
            }


      }
}

.portfolio__content {
      display: flex;
      flex-direction: column;
      row-gap: 75px;
      position: relative;

      max-width: 100%;
      width: 100%;
}

.portfolio__category {
      display: flex;
      flex-direction: column;
      row-gap: 26px;
}

.portfolio__category--btn {
      max-width: 140px;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11px 15px;
      column-gap: 10px;
      background-color: $second-color;
      border-radius: 50px;
      font-weight: $fw-600;
      transition: all .2s ease-in-out;
      &:hover {
            background-color: $accent-color;
      }
      
}

.portfolio__category--line {
      max-width: 100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, rgba(57,163,82,1) 0%, rgba(242,107,53,1) 59%);
}


// Portfolio slide wrapper



.portfolio__slide {
      
      align-items: center;
      padding: 0px 20px;
      
}

.portfolio__slidebody {
      max-width: 526px;
      margin: 0 auto;
      border-radius: 20px;
      z-index: 1;
      overflow: hidden;

      display: flex;
      flex-direction: column;
}

.portfolio__slide--imgblock {
      position: relative;
}

.portfolio__slide--playaction {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
}

.video-play-button {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      box-sizing: content-box;
      display: block;
      width: 32px;
      height: 44px;
       background: $accent-color; 
      border-radius: 50%;
      padding: 18px 20px 18px 28px;
    }

.video-play-button:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 80px;
      height: 80px;
      background: $second-color;
      border-radius: 50%;
      animation: pulse-border 1500ms ease-out infinite;
    }
    .video-play-button:after {
      content: "";
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 80px;
      height: 80px;
      background: $second-color;
      border-radius: 50%;
      transition: all 200ms;
    }
    
    .video-play-button:hover:after {
      background-color: $accent-color;
    }

    .video-play-button:hover::before {
      background: $accent-color;
    }
    .video-play-button:before {
      content: "";
      color: $second-color;
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 80px;
      height: 80px;
      background: $second-color;
      border-radius: 50%;
      animation: pulse-border 1500ms ease-out infinite;
    }
    
    .video-play-button img {
      position: relative;
      z-index: 3;
      max-width: 100%;
      width: auto;
      height: auto;
    }
    
    .video-play-button span {
      display: block;
      position: relative;
      z-index: 3;
      width: 0;
      height: 0;
      border-left: 32px solid #fff;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
    }
    
    @keyframes pulse-border {
      0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
      }
      100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
      }
    }

.portfolio__slide--textblock {
      padding: 20px 20px 20px 20px;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      background-color: $white-color;
}

.portfolio__slide--title {
      font-size: 40px;
      font-weight: $fw-700;
      color: $accent-color;
}

.portfolio__slide--subtitle {
      font-size: 20px;
      font-weight: $fw-400;
      color: $second-color;
      line-height: 24px;
}

.slide--panaramshowbtn {
      max-width: 211px;
      width: 100%;
      background-color: $grey-color;

      text-align: center;
      font-weight: $fw-700;
      font-size: 20px;
      padding: 15px 0px;
      border-radius: 50px;
      transition: all .3s ease;
      &:hover {
            background-color: $accent-color;
      }
}

.portfolio__moreworks {
      max-width: 200px;
      background-color: $second-color;
      padding: 14px;
      font-size: 18px;
      font-weight: $fw-700;
      line-height: 24px;
      border-radius: 50px;
      transition: all .3s ease;
      &:hover {
            background-color: $accent-color;
      }
}
