// Color

$accent-color: #F26B35;
$second-color: #39A352;
$black-color: #000;
$white-color: #fff;
$grey-color: #333;

$note-color: #FF0000;

// Other color


// Font family

$ff-montserrat: 'Montserrat', sans-serif;


// Font weight

$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;


// Media size

$laptop-size: 1200px;
$large-size: 992px;
$tablet-size: 768px;
$mobile-size: 576px;



// other variables

$d-n: none;
$d-f: flex;
$d-g: grid;




