<!DOCTYPE html>
<html lang="ru">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>AdminPanel</title>
      <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
      <main class="wrapper">
            <header class="header header--white">
                  <div class="container">
                        <div class="header__wrapper">
                              <a href="../index.html">
                                    <img src="../assets/images/header/logo.svg" alt="logo" class="header__logo">
                              </a>
                        </div>
                  </div>
            </header>

            <div class="content">
                  <section class="section section__admin">
                        <div class="container">
                              <div class="admin__wrapper admin__wrapper--center">
                                    <div class="admin__authblock">
                                          <h1 class="admin__authtitle">
                                                Авторизация в админ панель
                                          </h1>

                                          <form action="#" class="admin__form" name="adminAuth">
                                                <input type="text" id="login" class="admin__inputauth" placeholder="Введите логин">
                                                <input type="password" id="password" class="admin__inputauth" placeholder="Введите пароль">
                                                <button class="admin__btnauth" type="button"">
                                                      Войти
                                                </button>
                                          </form>
                                    </div>
                              </div>
                              <div class="admin__wrapper dn">
                                    <div class="admin__column">

                                    </div>
                                    <div class="admin__column">
                                          
                                    </div>
                              </div>
                        </div>
                  </section>
            </div>
      </main>
</body>
</html>