
// laptop Responsive

@media (max-width: $laptop-size) {

      // section

      //section title 

      .section__title {
            font-size: 40px;
      }

      .section__subtitle {
            font-size: 18px;
      }
      
      .header {
            padding: 20px 0px;
      }
     
      // Header
      .header__wrapper {
            flex-direction: column;
            align-items: start;
            row-gap: 30px;
      }

      .header__menuwrapper {
            max-width: 100%;
            width: 100%;
            justify-content: space-between;
      }
      

      .header__contactblock {
            column-gap: 25px;
      }

      .menu__item {
            font-size: 14px;
      }

      .header__menu {
            max-width: 100%;
            width: 100%;
            row-gap: 20px;
            
      }

      .header__social {
            column-gap: 20px;
            & img {
                  width: 26px;
            }
      }

      // Intro

      .intro__title {
            font-size: 45px;
            line-height: 50px;
      }

      .intro__subtitles {
            row-gap: 24px;
      }

      .intro__subtitle  {
            font-size: 23px;
      }

      .intro__textbox {
            row-gap: 40px;
      }

      .intro__formwrapper {
            padding: 25px 30px;
            row-gap: 42px;
      }

      .intro__formwrapper--title {
            font-size: 32px;
      }

      .intro__formwrapper--subtitle {
            font-size: 15px;
      }

      .intro__form--input {
            padding: 18px 28px;
      }

      // viewtour {
      .viewtour__wrapper {
            row-gap: 60px;
      }

      .view__card--title {
            font-size: 18px;
      }

      .view__card--subtitle {
            
            font-size: 14px;
            line-height: 26px;
      }

      .view__card {
            max-width: 300px;
            row-gap: 20px;
      }

      .view__card--textblock {
            row-gap: 7px;
      }

      // portfolio

      .portfolio__content {
            row-gap: 40px;
      }

      .portfolio__slidebody {
            max-width: 460px;
      }

      .portfolio__slide--textblock {
            row-gap: 18px;
      }

      .portfolio__slide--title {
            font-size: 36px;
      }

      .portfolio__slide--subtitle {
            font-size: 16px;
      }

      .slide--panaramshowbtn {
            font-size: 16px;
            max-width: 150px;
      }

      // create

      .create__wrapper {
            row-gap: 55px;
      }

      .create__countbox{
            width: 45px;
      }

      .create__countbox--innertext {
            font-size: 18px;
      }

      .create__card--textbox {
            row-gap: 10px;
      }

      .create__card--title {
            line-height: 24px;
            font-size: 18px;
      }

      // form

      .form__title {
            font-size: 32px;
      }

      .form__input  {
            padding: 10px 17px;
      }

      .form__area  {
            padding: 10px 17px;
      }

      .form__action  {
            line-height: 15px;
            font-size: 14px;
            max-width: 140px;
            width: 100%;
            margin: 20px 0px 0px auto;
      }

      // questions

      .questions__itemtype {
            font-size: 28px
      }

      .questions__title {
            font-size: 18px;
            line-height: 20px;
      }

      .questions__subtitle {
            font-size: 14px;
            line-height: 20px;
      }

      .questions__openedblock {
            row-gap: 15px;
      }

      //footer

      .footer__btn {
            font-size: 16px;
      }

      .footer__contacttitle {
            font-size: 24px;
      }

      .footer__contactnum  {
            font-size: 16px;
      }

      .footer__socialicon img {
            width: 26px;
      }

      .footer__nav {
            row-gap: 20px;
      }

      .footer__nav--title {
            font-size: 26px;
      }

      .footer__menu {
            row-gap: 10px;
      }
      
      .footer__menu--item {
            font-size: 16px;
      }
}