
// laptop Responsive

@media (max-width: $laptop-size) {

      // section

      //section title 

      .section__title {
            font-size: 40px;
      }

      .section__subtitle {
            font-size: 18px;
      }
      
     
      // Header

      .header__menuwrapper {
            column-gap: 50px;
      }

      .header__contactblock {
            column-gap: 25px;
      }

      .header__social {
            padding: 0px 0px 0px 30px;
      }

      // Intro

      .intro__title {
            font-size: 45px;
            line-height: 50px;
      }

      .intro__subtitles {
            row-gap: 24px;
      }

      .intro__subtitle  {
            font-size: 23px;
      }

      .intro__textbox {
            row-gap: 40px;
      }

      .intro__formwrapper {
            padding: 25px 30px;
            row-gap: 42px;
      }

      .intro__formwrapper--title {
            font-size: 32px;
      }

      .intro__formwrapper--subtitle {
            font-size: 15px;
      }

      .intro__form--input {
            padding: 18px 28px;
      }

      // viewtour {
      .viewtour__wrapper {
            row-gap: 60px;
      }

      .view__card--title {
            font-size: 18px;
      }

      .view__card--subtitle {
            
            font-size: 14px;
            line-height: 26px;
      }

      .view__card {
            max-width: 300px;
            row-gap: 20px;
      }

      .view__card--textblock {
            row-gap: 7px;
      }

      // portfolio

      .portfolio__content {
            row-gap: 40px;
      }

      .portfolio__slidebody {
            max-width: 460px;
      }

      .portfolio__slide--textblock {
            row-gap: 18px;
      }

      .portfolio__slide--title {
            font-size: 36px;
      }

      .portfolio__slide--subtitle {
            font-size: 16px;
      }

      .slide--panaramshowbtn {
            font-size: 16px;
            max-width: 150px;
      }
}