// Large size responsive


@media (max-width: $large-size) {

      // section

      .section {
            padding: 90px 0px;
      }

      //sectio title

      .section__title  {
            font-size: 32px;
            line-height: 40px;
      }

      .section__subtitle {
            font-size: 16px;
      }

      // Header

      .header__menuwrapper {
            column-gap: 70px;
      }

      .menu__item {
            font-size: 15px;
      }

      .header__number {
            font-size: 19px;
      }

      .header__social--link {
            max-width: 28px;
      }

      // Intro

      .section__intro {
            padding: 100px 0px;
      }

      .intro__row {
            flex-direction: column;
            row-gap: 40px;
            align-items: start;
      }

      // viewtour

      .view__card--title {
            font-size: 16px;
      }

      // portfolio

      .portfolio__content {
            row-gap: 40px;
      }

      .portfolio__slidebody {
            max-width: 430px;
      }

      .portfolio__slide--textblock {
            row-gap: 14px;
            padding: 20px;
      }

      .portfolio__slide--playaction img {
            width: 100px;
            
      }

      .portfolio__slide--title {
            font-size: 28px;
      }

      .portfolio__slide--subtitle {
            font-size: 14px;
      }

      .slide--panaramshowbtn {
            font-size: 14px;
            max-width: 150px;
      }
      

      @media (max-width: 900px) {

            // Header
            .header__wrapper {
                  align-items: flex-start;
            }


            .header__menuwrapper {
                  flex-direction: column;
                  align-items: start;
                  row-gap: 20px;
            }

            // viewtour 

            .viewtour__cards {
                  flex-wrap: wrap;
                  row-gap: 50px;
                  justify-content: center;
            }

            .view__card--textblock {
                  text-align: center;
            }

            .view__card--imgblock {
                  margin: 0 auto;
            }


            
      }


}