// Large size responsive


@media (max-width: $large-size) {


      // section

      .section {
            padding: 70px 0px;
      }

      .header {
            padding: 20px 0px;
      }

      .section__intro  {
            padding: 70px 0px;
      }

      //sectio title

      .section__title  {
            font-size: 32px;
            line-height: 40px;
      }

      .section__subtitle {
            font-size: 16px;
      }

      // Header

      .header__menuwrapper {
            column-gap: 20px;
      }
      .header__menu {
            column-gap: 15px;
      }

      .menu__item {
            font-size: 13px;
      }

      .header__number {
            font-size: 19px;
      }

      .header__social--link {
            max-width: 28px;
      }

      .header__social--link img {
            width: 23px;
      }

      // Intro

      .section__intro {
            padding: 100px 0px;
      }

      .intro__row {
            flex-direction: column;
            row-gap: 40px;
            align-items: start;
      }

      // viewtour

      .view__card--title {
            font-size: 16px;
      }

      // portfolio

      .portfolio__content {
            row-gap: 40px;
      }

      .portfolio__slidebody {
            max-width: 430px;
      }

      .portfolio__slide--textblock {
            row-gap: 14px;
            padding: 20px;
      }

      .portfolio__slide--playaction img {
            width: 100px;
            
      }

      .portfolio__slide--title {
            font-size: 28px;
      }

      .portfolio__slide--subtitle {
            font-size: 14px;
      }

      .slide--panaramshowbtn {
            font-size: 14px;
            max-width: 150px;
      }

      // create

      
      .create-switcherinner {
            display: none;
      }

      .create--cardswitcherdisplay {
            display: flex;
      }

      .create__inner {
            max-width: 350px;
      }

      // footer 

      .footer__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 80px;
      }
      

      @media (max-width: 900px) {

            // Header
      

            // viewtour 

            .viewtour__cards {
                  flex-wrap: wrap;
                  row-gap: 50px;
                  justify-content: center;
            }

            .view__card--textblock {
                  text-align: center;
            }

            .view__card--imgblock {
                  margin: 0 auto;
            }


            
      }


}