
@media (max-width: $tablet-size) {
      // header

      .header__menuwrapper {
            max-width: 100%;
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            row-gap: 0px;
            justify-content: space-between;
      }

      .header__nav {
            display: none;
      }

      .header__contactblock {
            display: none;
      }

      .burgeraction {
            display: flex;
      }


      // Intro

      .intro__row {
            align-items: center;

      }

      .intro__titlebox {
            row-gap: 50px;
      }

      .intro__title {
            font-size: 42px;
            line-height: 48px;
      }

      .intro__subtitles {
            row-gap: 15px;
      }

      // portfolio

      .portfolio__content {
            row-gap: 40px;
      }

      .portfolio__slidebody {
            max-width: 290px;
      }

      .portfolio__slide--textblock {
            row-gap: 15px;
            padding: 20px;
      }

      .portfolio__slide--playaction img {
            max-width: 80px;
            
      }

      .portfolio__slide--title {
            line-height: 24px;
            font-size: 22px;
      }

      .portfolio__slide--subtitle {
            font-size: 14px;
            line-height: 26px;
      }

      .slide--panaramshowbtn {
            font-size: 14px;
            max-width: 150px;
      }

      // create

      .create__wrapper {
            row-gap: 30px;
      }
      .create__content {
            row-gap: 30px;
            flex-direction: column;
      }

      .create__column {
            max-width: 100%;
      }

      .create__inner {
            margin: 0 auto;
      }

      // form 

      .create__formwrapper {
            row-gap: 20px;
      }
      .form__titleblock {
            row-gap: 10px;
      }
      .form__title {
            font-size: 28px;
      }


}