
// Line animation

.portfolio__category--line {
      position: relative;

      
}

.line {
      &::after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            max-width: 20px;
            width: 100%;
            background-color: $white-color;
            left: -20px;
            animation: c-l-animation 2s ease-in;
      }
}

@keyframes c-l-animation {
      from {
            left: -20px;
      }
      50%{
            max-width: 150px;
            width: 100%;
      }
       to {
            left: 100%;
            width: 60px;
      }
}



// btn animation

.b-n-animation {
      animation: pulse 2s ease infinite;
}

@keyframes pulse {
      0% {
            transform: scaleX(1);
      } 50% {
            transform: scale3d(1.05,1.05,1.05);
      } 100% {
            transform: scaleX(1);
      }
}

// form animation

.form-anim-background {
      background-size: 150% 150%;
      animation: anim-form 3s ease infinite;
      transform: translate3d(0, 0, 0);
}

@keyframes anim-form {
      0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


// titles animation 

.titles__anim {
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 100%;
        z-index: 10000;
        background: linear-gradient(90deg, rgba(57,163,82,1) 0%, rgba(242,107,53,1) 59%);
        right: -100%;
        animation: heightWrapperText 1s ease forwards; 
      //   animation-delay: .5s;
      &.titles__anim--out { 
            &::before {
              animation: heightWrapperTextOut 2s ease forwards;
            }
          }
      }
    
    @keyframes heightWrapperText {
      100%{
            right: 100%;
      }
    }
}


// Menu option

.menu--optionsAnim {
      opacity: 1;
      right: 20px;
      animation: menuOptionsAnim .4s linear forwards;
}

.menu--optionsAnimClose {
      opacity: 0;
      right: -100px;
      animation: menuOptionsAnimClose .4s linear forwards;
}


@keyframes menuOptionsAnimClose {
      0% {
            right: 20px;
            opacity: 1;
      }50% {
            right: -30px;
            opacity: 0.5;
      } 100% {
            right: -100px;
            opacity: 0;
      }
}

@keyframes menuOptionsAnim {
      0% {
            right: -100px;
            opacity: 0;
      }50% {
            right: -30px;
            opacity: 0.5;
      } 100% {
            right: 20px;
            opacity: 1;
      }
}